@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  background-color: rgb(224, 224, 224);
}



.navbar {
    position: fixed;
    top: 0;
    left: -110%;
    z-index: 1010;
    height: 100%;
    width: 100%;
    background: url(../img/ora9.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 15%;
    
  }
  
  .navbar.active {
    left: 0;
  }
  
  .navbar #close-navbar {
    position: absolute;
    top: 3rem;
    right: 3rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    background: #fff;
    color: #222;
    cursor: pointer;
    font-size: 3rem;
  }
  
  .navbar #close-navbar:hover {
    color: #fff;
    background: #c90d0d;;
  }
  
  .navbar a {
    font-size: 4rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: lighter;
  }
  
  .navbar a:hover {
    color: #c90d0d;;
    letter-spacing: .2rem;
  }

h1{
    text-align: center;
}
  
#dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

table{
    border: 2px red solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    min-height: auto;
    font-size: 9pt;
    padding: 20px;
    margin-bottom: 30px;
}


th{
    padding: 15px;
    text-align: center;
    background-color: darkred;
    border: 3px black solid;
}
td{
    padding: 5px 15px;
    text-align: center;
    background-color: red;
    border: 1px black solid;
}

.h1{
  color: darkred;
}

.button{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  gap: 40px;
}

.button a{
  padding: 10px 25px;
  background-color: darkred;
  color: white;
  border-radius: 5px;
}



#menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#menu a{
    background-color: darkred;
    color: black;
    border-radius: 15px;
    padding: 3px 7px;
}

#menu a:hover{
  background-color: black;
  color: white;
}

.menu11 a{
  padding: 3px 7px;
  background: darkred;
  color: black;
  border-radius: 15px;
}

.menu11 a:hover{
  background-color: black;
  color: white;
}

caption{
  font-weight: bold;
  border-bottom: 2px darkred solid;
  width: fit-content;
  color: darkred;
  margin-bottom: 10px;
}








